ul.social-network{
  list-style: none;
  padding: 0;
}

ul.social-network li{
  display: inline;
  margin: 0;
  padding: 5px;
}

.icon{
  font-size: 18pt;
  color:  #92C1FF;
  padding: 10px;
}

.fa-github-square:hover{
  color:#ebebeb;
}

.fa-envelope:hover{
  color:  #92C1FF;
}

.bground {
  background: #111E54;
}
.textc{
  color: #92C1FF;
  font-size: 10pt;
}

.bground2 {

  background-image: #92C1FF;

}