ul.social-network{
  list-style: none;
  padding: 0;
}

ul.social-network li{
  display: inline;
  margin: 0;
  padding: 5px;
}

.fa{
  font-size: 28pt;
  color: #f8f8f8;
  padding: 10px;
}

.fa-github-square:hover{
  color:#ebebeb;
}

.fa-envelope:hover{
  color: #ebebeb;
}

.bground {

  background-image: linear-gradient(to bottom, #239383, #219283 );

}

.bground2 {

  background-image: linear-gradient(to bottom, #239383, #007F85 );

}
