<div class="container-fluid">
  <div class="row bg-1 align-items-center">
    <div class="col-md-12 mt-5">
      <h1 class="text-center">Atualizar Categoria</h1>
    
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="form-group mt-3 mb-4">
            <label for="descricao" class="fs-18">Descrição:</label>
            <input
              type="text"
              class="form-control"
              id="descricao"
              [(ngModel)]="categoria.descricao"/>
          </div>

          <div class="row d-flex justify-content-center mb-4">
            <button class="btn btn-danger mr-4" routerLink="/categoria">Cancelar</button>
            <button class="btn btn-success" (click)="atualizar()">Atualizar</button>
          </div>
      </div>
    </div>
  </div>
</div>