.chamadabox{
    padding-top: 5rem;
  }

  .bground {
    background: linear-gradient(
     to top,
      #3fb78d,
      #007f86 90%,
      #b5e877,
      #77d183 190%,
      #5bc489 130%
    );
  }

  .textcolor{
    color: #007f86;
  }