<nav class="navbar navbar-expand-lg navbar-dark  bground">
  <a class="nav-item active">
    <img src="https://imgur.com/d5ke0ud.jpeg" alt="Logo do Blog" width="50px" height="50px"
      class="img-fluid rounded-circle" />
  </a>

  <a class="navbar-brand " href="#">RecodeCycle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink='/home'>Home<span class="sr-only">(página atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink='/sobre-nos'>Sobre</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" routerLink='/equipe'>Equipe</a>
      </li>



    </ul>
  </div>

  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-success my-2 my-sm-0 mr-4" routerLink='/entrar' >Entrar</button>
    <button class="btn btn-success my-2 my-sm-0" type="submit" routerLink='/cadastrar' > Cadastre-se </button>
  </form>
</nav>