.chamadabox{
  padding-top: 5rem;
}

.bground {
  background: #111E54;
}
a{
  color: #92C1FF;
}

.btn1{
  color: none;
  border-color: none;
  border: none;
}
.btn {
  border-radius: 15px;
  
  color: #fff;
  font-size: 14px;
  padding: 8px 30px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin-top: 1rem;
}

.btn-second {
  background-color: #58af9b;
  border: 1px solid #58af9b;
  transition: background-color 0.5s;
}
.btn-second:hover {
  background-color: #fff;
  border: 1px solid #58af9b;
  color: #58af9b;
}

.btn2{
  border-width: 1.5px;
}

a{
  cursor: pointer;
  text-decoration: none;
}

#butcolor{
  background: #92C1FF;
}

#butcolor span {
  background-color: #111E54;
}