/* modal background */

.mground{
    background-image: linear-gradient(to top, #f7f7f7 10%,#B5F6CF );
  }

  /* css button */
  .btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-second {
    background-color: #58af9b;
    border: 1px solid #58af9b;
    transition: background-color 0.5s;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}
