#bground {
    position: relative;
    height: 100%;
    width: 100vw;
    background: linear-gradient(
      to bottom,
      #3fb78d,
      #007f86 90%,
      #b5e877,
      #77d183 190%,
      #5bc489 130%
    );
  }
  
  .card{
      background-color:#ffffff95;
      padding: 30px;
      border-radius: 4%;
      box-shadow: 3px 3px 1px 0px #00000070;
      
    }

 .card2{
    background-color:#ffffff95;
    padding: 15px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000070;

 }   

 hr{
   background-color: #000000;
 }
.but1:hover{
  background-color: rgb(39, 185, 112);
 }

 img{
  
  transform: scaleX(-1);
 }

 #element::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: block;
}
#element {
  scrollbar-width: none;
}

.hide-scroll {
  overflow: hidden;
}

.viewport {
  overflow: auto;
  max-height: 150%;
  margin-right: -100px;
  padding-right: 80px;
}