<!-- <main class="nav-bar-inicio">

  <nav class="navbar navbar-expand-lg navbar-light bg-1 fonte-geral">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado"
      aria-expanded="false"
      aria-label="Alterna navegação"
      id="butcolor"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        
        
        <li class="navbar-nav ">
          <a [routerLink]="['/usuario-edit', id]"
            ><p class="text-white fs-16 m-0">
              Editar Usuario</p
          ></a>
        </li>

        <li class="navbar-nav">
          
      <a routerLink='/home' href=""> 
        <p class="text-white fs-16 m-0">Home</p></a>
        </li>
        
        <li class="navbar-nav ">
      <a routerLink='/sobre-nos' href=""> 
        <p class="text-white fs-16 m-0">Sobre</p></a>
        </li>

        <li class="navbar-nav"> 
      <a routerLink='/equipe' href="">
        <p class="text-white fs-16 m-0">Equipe</p></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item pl-3">
          <a (click)="sair()" class="m-0 font-weight-bold text-white fs-16"
            >Sair <i class="fa fa-sign-out" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </div> -->

    <main class="nav-bar-inicio">
    <nav class="navbar navbar-expand-lg bground">
      <a class="nav-item active">
        <img src="https://imgur.com/d5ke0ud.jpeg" alt="Logo do Blog" width="50px" height="50px"
          class="img-fluid rounded-circle"/>
      </a>
    
      <a class="navbar-brand " href="#">RecodeCycle</a>
      <button class="navbar-toggler" id="butcolor" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <li class="fas fa-bars"></li>
      </button>
    
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink='/inicio' class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a routerLink='/home' class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink='/sobre-nos'>Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/equipe'>Equipe</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#" routerLink='/home'>Home<span class="sr-only">(página atual)</span></a> -->
            <a
            data-toggle="modal" data-target="#modalExemplo" [routerLink]="['/usuario-edit', id]"><p class=" fs-16 m-0">Editar Usuario</p></a>
          </li>
        </ul>
        
        <form class="form-inline my-2 my-lg-0">
          <a class=" btn-outline text-white btn1 my-2 my-sm-0 mr-4" (click)="sair()" >Sair</a>
        </form>
      </div>
    </nav>
  </main>


