<div class="container-fluid">
  <div class="row justify-content-center bground">
    <div class="row col-md-12 align-items-center">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 mt-5">
          <h1>Conheça nossa equipe criativa</h1>
          <p>
            Abaixo você encontrará a equipe do RecodeCycle, composta por cinco membros que compartilham da mesma ideia sobre ter um planeta mais limpo e sustentável. Colocando o mouse sobre uma das fotos aparecerá uma breve informação sobre cada um, contendo também os links de suas redes de contato.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-5">
      <div class="d-flex flex-column">
        <img src="https://i.imgur.com/njID36P.png" alt="" width="450px" height="450px" class="align-self-center" />
      </div>
    </div>
    

    
    
  </div>
</div>


<div class="body">

  <div class="container contBox">
    <div class="card cardBox">
      <div class="imgBx">
        <img class="imgBx2"src="https://imgur.com/lW5G8W4.png" alt="">
      </div>

      <div class="content contBox2">
        <h3>Camila Ferreira</h3>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae earum voluptatum ab reprehenderit,
          excepturi dolore. <a class="img-contact mr-2" href="https://www.linkedin.com/in/camila-santos-ferreira/" target="blank"><img src="https://i.imgur.com/GzSfGPN.png" alt=""></a>
          <a href="https://github.com/camila-santos-ferreira" target="blank"><img src="https://i.imgur.com/60VZWE7.png" alt=""></a></P>
        
      </div>
    </div>

    <div class="card cardBox">
      <div class="imgBx">
        <img class="imgBx2" src="https://imgur.com/8aATDYy.png" alt="">
      </div>

      <div class="content contBox2">
        <h3>Fernando Garrido</h3>
        <P>Um desenvolvedor apaixonado pela criação!</P>
        <p> <a class="img-contact mr-2" href="https://www.linkedin.com/in/fernando-garrido-dev/" target="blank"><img src="https://i.imgur.com/GzSfGPN.png" alt=""></a>
          <a href="https://github.com/Garrido10" target="blank"><img src="https://i.imgur.com/60VZWE7.png" alt=""></a></p>
      </div>
    </div>

    <div class="card cardBox">
      <div class="imgBx">
        <img class="imgBx2" src="https://imgur.com/dksVxN5.png" alt="">
      </div>

      <div class="content contBox2">
        <h3>Gabriel Almeida</h3>
         <p>Aprendendo a desenvolver aplicações, cuidando do meu cahorrinho 
          e dando água para as plantas. <a class="img-contact mr-2" href="https://www.linkedin.com/in/gabrielalmeidabielamd/" target="blank"><img src="https://i.imgur.com/GzSfGPN.png" alt=""></a>
          <a href="https://github.com/bielalmd" target="blank"><img src="https://i.imgur.com/60VZWE7.png" alt=""></a></p>   
      </div>
    
    </div>

    <div class="card cardBox">
      <div class="imgBx">
        <img class="imgBx2" src="https://imgur.com/Yg7GEFD.png" alt="">
      </div>

      <div class="content contBox2">
        <h3>Nathalia Silvestre</h3>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae earum voluptatum ab reprehenderit,
          excepturi dolore. <a class="img-contact mr-2" href="https://www.linkedin.com/in/nathalia-ribeiro-silvestre-381849215/" target="blank"><img src="https://i.imgur.com/GzSfGPN.png" alt=""></a>
          <a href="https://github.com/93-silvestre" target="blank"><img src="https://i.imgur.com/60VZWE7.png" alt=""></a></P>     
      </div>

    
    
    </div>
    
    <div class="card cardBox">
      <div class="imgBx">
        <img class="imgBx2" src="https://i.imgur.com/S2CgR0j.png" alt="">
      </div>

      <div class="content contBox2">
        <h3>Vinicius Marques</h3>
        <P>Um desenvolvedor que adora jogar, ama animais e tem a movimentação Europeia. <a class="img-contact mr-2" href="https://www.linkedin.com/in/vinicius-marquesp/" target="blank"><img src="https://i.imgur.com/GzSfGPN.png" alt=""></a>
          <a href="https://github.com/ViniciusMarquesp" target="blank"><img src="https://i.imgur.com/60VZWE7.png" alt=""></a></P>
          
      </div>
     
    </div>

    
  </div>
</div>



<div class="section">
  <div class="container">
    <div class="contactinfo">
     
      <div>
        <h2>Contato</h2>
        <ul class="info">
          <li>
            <span><img class="imgIcon" src="https://i.imgur.com/YuFUb8g.png" alt=""></span>
            <span> Brasil - São Paulo</span>
          </li>
          <li>
            <span><img class="imgIcon" src="https://i.imgur.com/LWMwRGf.png" alt=""></span>
            <span> lorem@ipsum.com</span>
          </li>
          <li>
            <span><img class="imgIcon" src="https://i.imgur.com/GUCQWnh.png" alt=""></span>
            <span> 999999-99999</span>
          </li>
        </ul>
      </div>
      <ul class="sci">
        <li><a href="#"><img class="imgIcon" src="https://i.imgur.com/79VdJgU.png" alt="logos redes 1.png"></a></li>

      </ul>
    </div>

    <div class="contactForm">
      <h2>Mensagem</h2>
      <div class="formBox">
        <div class="inputBox w50">
          <input type="text" name="" required>
          <span>Nome</span>
        </div>

        <div class="inputBox w50">
          <input type="text" name="" required>
          <span>Sobrenome</span>
        </div>

        <div class="inputBox w50">
          <input type="text" name="" required>
          <span>Email</span>
        </div>

        <div class="inputBox w50">
          <input type="text" name="" required>
          <span>Telefone</span>
        </div>

        <div class="inputBox w100">
          <textarea name="" required></textarea>
          <span>Escreva mensagem</span>

        </div>

        <div class="inputBox w100">
          <input type="submit" value="Send">
        </div>

      </div>
    </div>
  </div>
</div>

