.bground {
  height: 100vh;
  background: #B5F6CF;
}



.cd{
background: linear-gradient(
    80deg,
    #406356,
    #007f86 90%,
    #95d14c,
    #47f55e 190%,
    #5bc489 130%)
}

.cd:hover{
  background:linear-gradient(#7a8283,#007f86,#3fb78d) ;
  color: #ffffff
}

.tm{
  height: 100vh;
}

a{
color: #f4f4f4
}

a:hover{
color: #0c0c0c
}