
<section class=" bground container-fluid avergefont">
  <div class="container justify-items-center">
    <div class="d-flex row align-items-center tm">
      <div class="card-deck d-flex">
        <!-- colab1 -->
        <div class="card cd">
          <img
            class="card-img-top"
            src="https://imgur.com/lW5G8W4.png"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h4 class="card-title text-white">Camila Ferreira</h4>
            <h6 class="card-text">Lorem ipsum dolor sit amet consectetur.</h6>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/in/camila-santos-ferreira/" target="blank" class="mr-2">Linkedin</a>
            <a href="https://github.com/camila-santos-ferreira" target="blank">Github</a>
          </div>
        </div>
        <!-- /colab1 -->
    
        <!-- colab2 -->
        <div class="card cd">
          <img
            class="card-img-top"
            src="https://imgur.com/8aATDYy.png"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h4 class="card-title text-white">Fernando Garrido</h4>
            <h6 class="card-text">Um desenvolvedor apaixonado pela criação!.</h6>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/in/fernando-garrido-dev/" target="blank" class="mr-2">Linkedin</a>
            <a href="https://github.com/Garrido10" target="blank">Github</a>
          </div>
        </div>
        <!-- /colab2 -->
    
        <!-- colab3 -->
        <div class="card cd">
          <img
            class="card-img-top"
            src="https://imgur.com/dksVxN5.png"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h4 class="card-title text-white">Gabriel Almeida</h4>
            <h6 class="card-text">Aprendendo a desenvolver aplicações,
               cuidando do meu cahorrinho e dando agua paras plantas.</h6>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/feed/" class="mr-2" target="blank" >Linkedin</a>
            <a href="https://github.com/bielalmd" target="dark">Github</a>
          </div>
        </div>
        <!-- /colab3 -->
    
        <!-- colab4 -->
        <div class="card cd">
          <img
            class="card-img-top"
            src="https://imgur.com/SvQiqPm.png"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h4 class="card-title text-white">Vinicius Marques</h4>
            <h6 class="card-text">Lorem ipsum dolor sit amet consectetur..</h6>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/in/vinicius-marquesp/" target="blank" class="mr-2">Linkedin</a>
            <a href="https://github.com/ViniciusMarquesp" target="blank">Github</a>
          </div>
        </div>
        <!-- /colab4 -->
    
        <!-- colab5 -->
        <div class="card cd">
          <img
            class="card-img-top"
            src="https://imgur.com/Yg7GEFD.png"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h4 class="card-title text-white">Nathalia Silvestre</h4>
            <h6 class="card-text">Lorem ipsum dolor sit amet consectetur..</h6>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/in/nathalia-ribeiro-silvestre-381849215/" target="blank" class="mr-2"> Linkedin</a>
            <a href="https://github.com/93-silvestre" target="blank">Github</a>
          </div>
        </div>
        <!-- /colab5 -->
      </div>

    </div>
    </div>
    
</section>


