
<body class=" bground container-fluid avergefont">
  <div class="container justify-items-center ">
    <div class="d-flex row align-items-center">
      <div class="card-deck  ">
        <!-- colab1 -->
        <div class="card cd  ">
          <img
            class="card-img-top"
            src="https://imgur.com/Mht1J9h.png"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title text-white">Camila Ferreira</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
          <div class="card-footer">
            <p href="">Linkedin</p>
            <p href="">Gitgub</p>
          </div>
        </div>
        <!-- /colab1 -->
    
        <!-- colab2 -->
        <div class="card cd">
          <img
            class="card-img-top"
            src="https://avatars.githubusercontent.com/u/86261232?s=400&u=6e4ee39c898907970a234640eedd5ecfff1ad63f&v=4"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title text-white">Fernando Garrido</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
          <div class="card-footer">
            <p href="">Linkedin</p>
            <p href="">Gitgub</p>
          </div>
        </div>
        <!-- /colab2 -->
    
        <!-- colab3 -->
        <div class="card cd">
          <img
            class="card-img-top"
            src="https://imgur.com/WTEQHXh.png"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title text-white">Gabriel Almeida</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur..</p>
          </div>
          <div class="card-footer">
            <p href="">Linkedin</p>
            <p href="">Gitgub</p>
          </div>
        </div>
        <!-- /colab3 -->
    
        <!-- colab4 -->
        <div class="card cd">
          <img
            class="card-img-top"
            src="https://imgur.com/SvQiqPm.png"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title text-white">Vinicius Marques</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur..</p>
          </div>
          <div class="card-footer">
            <p href="">Linkedin</p>
            <p href="">Gitgub</p>
          </div>
        </div>
        <!-- /colab4 -->
    
        <!-- colab5 -->
        <div class="card cd">
          <img
            class="card-img-top"
            src="https://imgur.com/SvQiqPm.png"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title text-white">Nathalia Silvestre</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur..</p>
          </div>
          <div class="card-footer">
            <p href="">Linkedin</p>
            <p href="">Gitgub</p>
          </div>
        </div>
        <!-- /colab5 -->
      </div>

    </div>
    </div>
    
</body>
