.bground {
  height: 100vh;
  background: #92C1FF;
}

.card{
    background-color:#B5F6CF;
    padding: 30px;
    border-radius: 3% 9%;
    box-shadow: 3px 3px 1px 0px #b7cea370;
    
  }
  .card2{
    background-color:#a9e7c2;
    padding: 30px;
    border-radius: 3% 9%;
    box-shadow: 3px 3px 1px 0px #b7cea370;
    
  }


  hr{
    background-color: #000000
  }


button:hover{
 background-color: rgb(39, 185, 112);
}

.drop-shadow{
  -webkit-filter: drop-shadow(12px 12px 7px rgb(0, 0, 0, 0.7));
  filter: drop-shadow(12px 12px 7px rgb(0, 0, 0, 0.7))
}
.box-shadow{
  box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);
}


