<!-- <div class="container-fluid">
  <div class="row bground avergefont">
    <div class="col-md-12 my-5">
      <div class="container my-5 d-flex card drop-shadow justify-items-center">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="col-10 justify-content-center">
                <div class="col-md-6 my-5 mx-auto">
                  <img
                    src="https://imgur.com/VOfMZFQ.png"
                    class="drop-shadow"
                    height="200vh"
                    alt="log"
                  />
                </div>

                <div class="">
                  <div class="text-center ml-4 mt-2">
                    <h5 class="">
                      Não tem uma conta?
                      <a routerLink="/cadastrar">Cadastre-se</a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-5 box-shadow card2 mx-auto my-5">
              <h1 class="text-center">Entrar</h1>

              <div class="form-group my-3">
                <input
                  [(ngModel)]="usuarioLogin.email"
                  class="form-control"
                  type="text"
                  name="nome"
                  id="email"
                  placeholder="Email"
                />
              </div>

              <div class="form-group">
                <input
                  [(ngModel)]="usuarioLogin.senha"
                  class="form-control"
                  type="password"
                  name="senha"
                  id="senha"
                  placeholder="Senha"
                />
              </div>

              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn btn-success btn-lg btn-block"
                  aria-describedby="basic-addon1"
                  (click)="entrar()"
                >
                  Entrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<body class="container col-md-12">
  <div class="img-card-left">
    <div class="content first-content">
      <div class="first-column">
      
      </div>
      <div class="second-column">
        <h2 class="title title-second">Entrar</h2>

        <p class="description description-second"></p>
        <form class="form">
          <label class="label-input" for="">
            <i class="far fa-envelope icon-modify"></i>
            <input
              type="text"
              name="nome"
              id="email"
              placeholder="Digite seu email..."
              [(ngModel)]="usuarioLogin.email"
            />
          </label>

          <label class="label-input" for="">
            <i class="fas fa-lock icon-modify"></i>
            <input
              type="password"
              name="senha"
              id="senha"
              placeholder="Digite sua senha..."
              [(ngModel)]="usuarioLogin.senha"
            />
          </label>

          <button class="btn btn-second" (click)="entrar()">entrar</button>
          <p class="text-center mt-3 ">
            Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a>
          </p>
        </form>
      </div>
      <!-- second column -->
    </div>
  
  </div>
</body>