/* ---------------------------------------------------------------------------------------------
                                              NAVBAR
------------------------------------------------------------------------------------------------*/
.navground {
  background: #111E54;
}

.btn1{
  cursor: pointer;
}

.textnav{
  color: #92C1FF;
}

.textnav:hover{
  color: #f7f7f7;
}

#butcolor{
  background: #92C1FF;
}

#butcolor span {
  background-color: #111E54;
}

@media screen and (max-width: 992px) {
  .nav-bar-home{
    display: none;
  }
}
/* ---------------------------------------------------------------------------------------------
                                              NAVBAR
------------------------------------------------------------------------------------------------*/





.bground {
  height: 100vh;
  background: #B5F6CF;
}

.bground2{
  background: #F6F6F6f6;
}

hr{
  background-color: #111E54;
}

h1, h2, p{
  color: #111E54;
}
.btone{
  background-color: #92C1FF;
  border-color: #92C1FF ;
}

.btn1{
  color: none;
  border-color: none;
  border: none;
  
}

.fs-54{
  font-size: 800%;

}

.card-img-top {
  display: inline;
  height: 30vh;
  width: 50%;
  align-items: rigth;


}

.card{
  border: double;
  border-color: cadetblue;
 
}

.title{
  font-weight: bolder;
  
}

.card-text{
  font-size: 130%;
}

.max h1{
  font-size: max(60px, 5vw);
}

.min{
  font-size: 16px;
}

.min2{
  font-size: 20px;
}

.min3{
  font-size: 32px;
}

.c{
  color: #92C1FF ;
}

@media (max-width: 992px) {
  img{
    display: none;
  }
}