<div class="container-fluid bground">
    <div class="row bg-1 d-flex align-items-center">
      <div class="col-md-6">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 text-white">
            <h1 class="fs-54">INICIO</h1>
            <h5 class="fs-18">Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eveniet?!</h5>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 d-flex justify-content-center">
        <img class="mt-4 mb-5"
          src="https://imgur.com/d5ke0ud.jpeg"
          alt="logo"
          width="500px"
          height="500px"
        />
      </div>
    </div>
  </div>

  <div class="container mb-5 mt-5" id="postagens">
</div>




  