<div class="container-fluid bground">
    <div class="row bg-1 d-flex align-items-center">
      <div class="col-md-6">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 text-white">
            
              <h1 class="fs-54 font-weight-bolder">RecodeCycle</h1>
              <hr>
           <p>Repense,
            Responsabilize-se,       
              Recicle !
            </p> 
            
          </div>
        </div>
      </div>
  
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <img class=" mb-5  align-content-end"
          src="https://imgur.com/d5ke0ud.jpeg"
          alt="logo"
          width="700px"
          height="700px"
        />
      </div>
    </div>
  </div>
  <div class="container-fluid bground2 justify-content-center d-flex">
    <div class="conatiner">
      <h2 class="text-left container text-white font-weight-bolder mt-2">
        Repense
      </h2>
      <h4 class="container text-left">
        Procure utilizar menos seu carro, principalmente se estiver sozinho. Ande mais a pé, de bicicleta, use transporte coletivo ou mesmo táxi: é mais barato e você evita emissão de poluentes.
      </h4>
      <h2 class="text-center container text-white font-weight-bolder my-2 mt-2">
        Responsabilize-se
      </h2>
      <h4 class="container text-center">
        Pergunte e pesquise sobre a origem dos produtos que você consome: como a carne (o frigorífico está envolvido em desmatamento ilegal?), a madeira dos móveis que irá comprar (verifique se ela é certificada) e as roupas (grandes redes de varejo nacionais e internacionais estão envolvidas com uso de mão de obra escrava. Pesquise!). 
      </h4>
      
      <h2 class="text-right container text-white font-weight-bolder my-2 mt-2">
        Recicle
      </h2>
      <h4 class="container text-right">
        Separe materiais descartáveis do lixo orgânico em sua casa. Se não existir coleta seletiva em sua cidade, procure uma cooperativa de catadores para encaminhar os produtos para reciclagem. 

        Informe-se sobre locais para descarte apropriado de eletroeletrônicos, como celulares e computadores velhos. Questione o fabricante ou a loja onde você comprou sobre onde fazer o descarte correto. É direito seu! 
      </h4>

    </div>

</div>





  