<div class="container-fluid bground">
    <div class="row bg-1 d-flex align-items-center">
      <div class="col-md-6">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 text-white">
            
              <h1 class="fs-54 font-weight-bolder">RecodeCycle</h1>
              <hr>
           <p>Repense,
              Reduza,
              Reuse,
              Recicle
            </p>
            
            <p>
              <a class="btn-outline text-white btn1" data-toggle="collapse" href="#repense" role="button" aria-expanded="false" aria-controls="collapseExample">
               Repense
              </a>
            </p>
              
              
            <div class="collapse" id="repense">
              <div class="card text-dark card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
              
            
          </div>
        </div>
      </div>
  
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <img class=" mb-5  align-content-end"
          src="https://imgur.com/d5ke0ud.jpeg"
          alt="logo"
          width="700px"
          height="700px"
        />
      </div>
    </div>
  </div>

  <div class="container mb-5 mt-5" id="postagens">
</div>




  