<!-- ----------------------------------------------------------------------- -->
<!--                         INICIO DA NAV SOBRE-NÓS                         -->
<!-- ----------------------------------------------------------------------- -->

<div class="nav-bar-home" *ngIf='auth.logado()'>
  <nav class="navbar navbar-expand-lg navground">
    <a class="nav-item active textnav">
      <img src="https://imgur.com/d5ke0ud.jpeg" alt="Logo do Blog" width="50px" height="50px"
        class="img-fluid rounded-circle"/>
    </a>
  
    <a class="navbar-brand textnav" href="#">RecodeCycle</a>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink='/inicio' class="nav-link textnav" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink='/home' class="nav-link textnav" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link textnav" href="#" routerLink='/sobre-nos'>Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link textnav" routerLink='/equipe'>Equipe</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- ----------------------------------------------------------------------- -->
<!--                         FIM DA NAV SOBRE-NÓS                            -->
<!-- ----------------------------------------------------------------------- -->





<div class="container-fluid">
  <div class="row justify-content-center bground">
    <div class="row col-md-6 align-items-center">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 mt-5">
          <h1>Sobre o RecodeCycle</h1>
          <p>
            RecodeCycle é uma Rede Social Informativa que integraliza informações sobre o descarte consciente dos resíduos, que muitas vezes é desconhecido pela população, servindo para a contribuição de uma cidade mais limpa e sustentável.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-5">
      <div class="d-flex flex-column">
        <img
          src="https://imgur.com/Dqph79W.jpeg"
          alt=""
          width="450px"
          height="450px"
          class="img-fluid img-mobile"
        />
      </div>
    </div>


    <div class="container my-5">
      <div class="card-deck p-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Missão</h5>
            <p class="card-text text-center">Unir pessoas em um espaço onde possam compartilhar suas experiências e conhecimentos transformando o mundo em um lugar mais sustentável.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Visão</h5>
            <p class="card-text text-center">Ser a rede social encarregada de unir as pessoas em prol de um mundo limpo e sustentável.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Valores</h5>
            <p class="card-text text-center">Pessoas, Responsabilidade, Humanismo, Paixão, Ética, Incentivo, Trabalho em equipe.
              </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="accordion col-md-14" id="accordionExample">
  <div class="container">

    <div class="card-deck p-4">

      <div class="col col">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <img src="https://i.imgur.com/w9WwKJV.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Dica: São todos aqueles resíduos de origem vegetal ou animal.
            <br>
            Por exemplo: Sobras de verduras, legumes, cascas de frutas são importantes como adubo na produção agrícola, fertlizante natural e pode
            aumentar a quantidade de nutrientes no solo.
            Os resíduos orgânicos se degradam com facilidade na natureza.
          </div>
        </div>
      </div>

      <div class="col col">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="true" aria-controls="collapseTwo">
              <img src="https://i.imgur.com/daGbywh.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Dica: A cor verde identifica que toda embalagem de vidro deverá ser descartada aqui.

            Por exemplo: Garrafas de vidro, embalagem de perfume, potes de produtos alimentícios, etc.
 
            -> Aproveite sempre o restinho de água da sua louça para tirar o excesso de resíduos das embalagen.
 
            -> Vidros quebrados devem ser embalados para não machucar quem for manipular o lixo;
          </div>
        </div>
      </div>
      
      <div class="col col">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="true" aria-controls="collapseThree">
              <img src="https://i.imgur.com/XJwOCj2.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Dica: São todos aqueles itens que não são reciclaveis/ Rejeitos

            Os mais comuns são papel higiênico usados, papéis e guardanapos engordurados, papéis metalizados, parafinados ou plastificados,
            adesivos, etiquetas , fita crepe, papel carbono, fotografias, papel toalha usado, fraldas descartáveis, lenço umedecido ou absorventes íntimos.
        
            *Um passo fundamental que todo consumidor pode fazer é olhar na embalagem do produto que está comprando, se há o símbolo de reciclagem e dar 
            preferência aos que tiverem.
          </div>
        </div>
      </div>

      <div class="col col">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="true" aria-controls="collapseFour">
              <img src="https://i.imgur.com/3z3OP5N.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            Dica: A cor vermelha identifica que toda embalagem plástica deverá ser descartada aqui.
            Como por exemplo: garrafas pet, embalagens de plástico, frascos de plástico, brinquedos, potes de creme,
            iogurte, embalagens de produtos de limpeza.

            -> Aproveite sempre o restinho de água da sua louça para tirar o excesso de resíduos das embalagem.
          </div>
        </div>
      </div>

      <div class="col col">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="true" aria-controls="collapseFive">
              <img src="https://i.imgur.com/CTjtMge.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            Dica: A cor azul identifica que toda embalagem de papel deverá ser descartada aqui.

            Como por exemplo: Papel branco e reciclado, papel de fax, papel cartão , aparas de papel, envelopes,
            papelão, revistas, jornais, cadernos, embalagens de papel, pastas de papelão e tampas de caixas de pizza
            (sem estar engordurada).
          </div>
        </div>
      </div>
    </div>


    <!-- <div class="row">
      <div class="col card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <img src="https://i.imgur.com/JRs5u7W.png" class="img-fluid" alt="">
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
            moon officia aute, non alemanha 0 x 2 coreia do sul cupidatat skateboard dolor brunch.
          </div>
        </div>
      </div>
      
      <div class="col card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="true" aria-controls="collapseTwo">
              <img src="https://i.imgur.com/JRs5u7W.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
            moon officia aute, non alemanha 0 x 2 coreia do sul cupidatat skateboard dolor brunch.
          </div>
        </div>
      </div>

      <div class="col card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="true" aria-controls="collapseThree">
              <img src="https://i.imgur.com/JRs5u7W.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
            moon officia aute, non alemanha 0 x 2 coreia do sul cupidatat skateboard dolor brunch.
          </div>
        </div>
      </div>

      <div class="col card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="true" aria-controls="collapseFour">
              <img src="https://i.imgur.com/JRs5u7W.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
            moon officia aute, non alemanha 0 x 2 coreia do sul cupidatat skateboard dolor brunch.
          </div>
        </div>
      </div>

      <div class="col card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="true" aria-controls="collapseFive">
              <img src="https://i.imgur.com/JRs5u7W.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
            moon officia aute, non alemanha 0 x 2 coreia do sul cupidatat skateboard dolor brunch.
          </div>
        </div>
      </div>

      
    </div> -->

    

  </div>



</div>