<div class="container-fluid">
  <div class="row justify-content-center bground">
    <div class="row col-md-6 align-items-center">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 mt-5">
          <img
          src="https://i.imgur.com/TAlEdRp.png"
          alt=""
          width="450px"
          height="450px"
          class="img-fluid"
        />
          
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-5">
      <div class="d-flex flex-column ">
        <h1 class="fs-54 font-weight-bolder">Sobre o RecodeCycle</h1>
        <hr>
          <p class="p1">
            Somos Rede Social Informativa que integraliza <br> informações sobre o descarte consciente dos <br> resíduos, que muitas vezes é desconhecido <br> pela população, servindo para a contribuição <br> de uma cidade mais limpa e sustentável.
          </p>
      </div>
    </div>


    <div class="container my-5">
      <div class="card-deck p-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title1 text-center font-weight-bolder">Missão</h5>
            <p class="card-text text-center">Informar, conscientizar e promover ações a favor do Meio Ambiente e Sustentabilidade.
              Unindo pessoas em um espaço onde possam compartilhar com responsabilidade, suas experiências e conhecimentos para 
              promover o desenvolvimento sustentável do nosso pais.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title2 text-center font-weight-bolder">Visão</h5>
            <p class="card-text text-center">Ser uma rede social referência na propagação de informações sobre reciclagem e encarregada de unir as pessoas 
              em prol de um mundo limpo e sustentável.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title3 text-center font-weight-bolder">Valores</h5>
            <p class="card-text text-center">Os valores que defendemos são nossas crenças para termos sucesso na missão a que nos propomos: <br>

              - Praticamos Responsabilidade, Humanismo;
              - Trabalhamos com excelência; <br>
              - Somos éticos e transparentes;
              </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="accordion col-md-14" id="accordionExample">
  <div class="container">
    <h2 class="text-center font-weight-bold my-3 "> A importância da Coleta Seletiva</h2>
    <div>
      <p>A coleta seletiva é de extrema importância para o desenvolvimento sustentável e tornou-se uma ação importante na vida moderna devido ao aumento do consumo e consequentemente do lixo produzido. O lixo mundial deve ter um aumento de 1,3 bilhão de toneladas para 2,2 bilhões de toneladas até o ano de 2025, segundo as estimativas do Programa das Nações Unidas para o Meio Ambiente (Pnuma). <br>

        A coleta seletiva evita a disseminação de doenças e contribui para que os resíduos se encaminhem para os seus devidos lugares. Separar os resíduos entre plástico, metal, papel e orgânicos também contribui para acabar com poluições tóxicas que contaminam solos e águas de rios, trazendo malefícios imensuráveis ao longo do tempo. <br>
        
        O Brasil produz, atualmente, cerca de 228,4 mil toneladas de lixo por dia, segundo a última pesquisa de saneamento básico consolidada pelo IBGE, em 2000. O chamado lixo domiciliar equivale a pouco mais da metade desse volume, ou 125 mil toneladas diárias. Adotar pequenas atitudes na rotina e preparar a casa ou empresa para separar corretamente o lixo é uma das melhores maneiras para ajudar na preservação do meio ambiente.
        
        
        
        Sobre o método de coleta seletiva, cada tipo de resíduo tem um processo próprio de reciclagem. Na medida em que são misturados, o processo pode se tornar mais caro ou mesmo inviável, pela dificuldade de separá-los de acordo com a sua composição. <br>
        
        <br> <p class="font-weight-bold"> Clicando nas lixeiras abaixo irá conhecer os tipos de resíduos para poder destiná-los de forma correta. São eles:</p>
    </div>
    <div class="card-deck p-4">
      
      <div class="col col">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <img src="https://i.imgur.com/w9WwKJV.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Dica: São todos aqueles resíduos de origem vegetal ou animal.
            <br>
            Por exemplo: Sobras de verduras, legumes, cascas de frutas são importantes como adubo na produção agrícola, fertlizante natural e pode
            aumentar a quantidade de nutrientes no solo.
            Os resíduos orgânicos se degradam com facilidade na natureza.
          </div>
        </div>
      </div>

      <div class="col col">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="true" aria-controls="collapseTwo">
              <img src="https://i.imgur.com/daGbywh.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Dica: A cor verde identifica que toda embalagem de vidro deverá ser descartada aqui.

            Por exemplo: Garrafas de vidro, embalagem de perfume, potes de produtos alimentícios, etc.
 
            -> Aproveite sempre o restinho de água da sua louça para tirar o excesso de resíduos das embalagen.
 
            -> Vidros quebrados devem ser embalados para não machucar quem for manipular o lixo;
          </div>
        </div>
      </div>
      
      <div class="col col">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="true" aria-controls="collapseThree">
              <img src="https://i.imgur.com/4S7namz.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Dica: A cor amarela identifica que toda embalagem metalizada deverá ser descartada aqui.

            Por exemplo: Latas de alumínio, resíduos em metal, latas de aerosol.
        
            -> Aproveite sempre o restinho de água da sua louça para tirar o excesso de resíduos das embalagen.
          </div>
        </div>
      </div>

      <div class="col col">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="true" aria-controls="collapseFour">
              <img src="https://i.imgur.com/3z3OP5N.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            Dica: A cor vermelha identifica que toda embalagem plástica deverá ser descartada aqui.
            Como por exemplo: garrafas pet, embalagens de plástico, frascos de plástico, brinquedos, potes de creme,
            iogurte, embalagens de produtos de limpeza.

            -> Aproveite sempre o restinho de água da sua louça para tirar o excesso de resíduos das embalagem.
          </div>
        </div>
      </div>

      <div class="col col">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="true" aria-controls="collapseFive">
              <img src="https://i.imgur.com/CTjtMge.png" class="img-click " alt="">
            </button>
          </h5>
        </div>

        <div id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            Dica: A cor azul identifica que toda embalagem de papel deverá ser descartada aqui.

            Como por exemplo: Papel branco e reciclado, papel de fax, papel cartão , aparas de papel, envelopes,
            papelão, revistas, jornais, cadernos, embalagens de papel, pastas de papelão e tampas de caixas de pizza
            (sem estar engordurada).
          </div>
        </div>
      </div>
    </div>


    

    

  </div>



</div>