/* ---------------------------------------------------------------------------------------------
                                              NAVBAR
------------------------------------------------------------------------------------------------*/
.navground {
  background: #111E54;
}

.btn1{
  cursor: pointer;
}

.textnav{
  color: #92C1FF;
}

.textnav:hover{
  color: #f7f7f7;
}

#butcolor{
  background: #92C1FF;
}

#butcolor span {
  background-color: #111E54;
}

@media screen and (max-width: 992px) {
  .nav-bar-home{
    display: none;
  }
}
/* ---------------------------------------------------------------------------------------------
                                              NAVBAR
------------------------------------------------------------------------------------------------*/
.bground {
  height: 100%;
  background: #92C1FF;
  
}

.tamanho-card{
  width: 55rem;
  height: 15rem;
}

.card-img-top {
  height: 60vh;
  width: 90%;
  align-items: center;

}

.card{
  border: double;
  border-color: cadetblue;
 
}

.card-title1{
  color: darkgreen;
  font-size: 200%;
}

.card-title2{
  color:darkred;
  font-size: 200%;
}

.card-title3{
  color:darkorange;
  font-size: 200%;
}

p{
  color: darkslategray;
  font-size: 120%;
}


.card:hover{
background: #B5F6CF;
}

.fs-54{
font-size: 363%;
color: #111E54;

}


.max h1{
font-size: max(60px, 5vw);
}

.min{
font-size: 16px;
}


.min2{
font-size: 20px;
}

.min3{
font-size: 32px;
}

h1, h2 {
color: #111E54;
}

.p1{
color: #111E54;
font-size: 150%;

}

hr{
background-color: #111E54;
}

.img-click{
align-items: center;
height: 50%;
width: 50%;

}
