<div class="container chamadabox">
  <div class="row">
    <div class="col-sm">
      <h1 class="alinhaTexto">Sobre o RecodeCycle</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit,
        commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
        veritatis at laudantium doloremque fugiat, fugit, commodi molestias
        eligendi modi, explicabo impedit. Doloremque, exercitationem.
      </p>
    </div>

    <div class="col-sm">
      <img
        src="https://imgur.com/Dqph79W.jpeg"
        alt="fundo lado dir"
        width="500px"
        height="500px"
        class="alinhaImagem"
      />
    </div>
  </div>
</div>

<div class="container chamadabox">
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Missão</h5>
            <p class="card-text">
              Este é um card mais longo com suporte a texto embaixo, que
              funciona como uma introdução a um conteúdo adicional. Este
              conteúdo é um pouco maior.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Visão</h5>
            <p class="card-text">
              Este é um card com suporte a texto embaixo, que funciona como uma
              introdução a um conteúdo adicional.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Valores</h5>
            <p class="card-text">
              Este é um card maior com suporte a texto embaixo, que funciona
              como uma introdução a um conteúdo adicional. Este card tem o
              conteúdo ainda maior que o primeiro, para mostrar a altura igual,
              em ação.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="container chamadabox">
  <div class="row">
    <div class="col-md-6"></div>
    <div>
      <h1>Sobre a equipe</h1>

      <div class="card-group">
        <div class="card">
          <img
            class="card-img-top"
            src="https://scontent.fgru4-1.fna.fbcdn.net/v/t1.6435-9/175917619_483741756164188_7895159647146030729_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=rcAHbvAKKDoAX-0mnsX&_nc_ht=scontent.fgru4-1.fna&oh=d5d260b5a9d71463b4744ceb905f5063&oe=614DC058
          "
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">
              Este é um card com suporte a texto embaixo, que funciona como uma
              introdução a um conteúdo adicional.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="https://scontent.fgru4-1.fna.fbcdn.net/v/t1.6435-9/175917619_483741756164188_7895159647146030729_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=rcAHbvAKKDoAX-0mnsX&_nc_ht=scontent.fgru4-1.fna&oh=d5d260b5a9d71463b4744ceb905f5063&oe=614DC058
          "
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">
              Este é um card com suporte a texto embaixo, que funciona como uma
              introdução a um conteúdo adicional.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="https://scontent.fgru4-1.fna.fbcdn.net/v/t1.6435-9/175917619_483741756164188_7895159647146030729_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=rcAHbvAKKDoAX-0mnsX&_nc_ht=scontent.fgru4-1.fna&oh=d5d260b5a9d71463b4744ceb905f5063&oe=614DC058
          "
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">
              Este é um card com suporte a texto embaixo, que funciona como uma
              introdução a um conteúdo adicional.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="https://scontent.fgru4-1.fna.fbcdn.net/v/t1.6435-9/175917619_483741756164188_7895159647146030729_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=rcAHbvAKKDoAX-0mnsX&_nc_ht=scontent.fgru4-1.fna&oh=d5d260b5a9d71463b4744ceb905f5063&oe=614DC058
            "
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">
              Este é um card com suporte a texto embaixo, que funciona como uma
              introdução a um conteúdo adicional.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="https://scontent.fgru4-1.fna.fbcdn.net/v/t1.6435-9/175917619_483741756164188_7895159647146030729_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=rcAHbvAKKDoAX-0mnsX&_nc_ht=scontent.fgru4-1.fna&oh=d5d260b5a9d71463b4744ceb905f5063&oe=614DC058
            "
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">
              Este é um card com suporte a texto embaixo, que funciona como uma
              introdução a um conteúdo adicional.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
