.bground {
    height: 100vh;
    background: linear-gradient(
      to bottom,
      #3fb78d,
      #007f86 90%,
      #b5e877,
      #77d183 190%,
      #5bc489 130%
    );
  }
  
  .tamanho-card{
    width: 55rem;
    height: 15rem;
  }
  