<!-- <div class="container-fluid">
  <div class="row bg-1 d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="fs-54">INICIO</h1>
          <h5 class="fs-18">Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eveniet?!</h5>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">
            Nova Postagem
          </button>
          <a class="btn btn-light my-2" href="#postagens">Ver Postagens</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img class="mt-4 mb-5" src="https://imgur.com/Dqph79W.jpeg" alt="logo" width="500px" height="500px" />
    </div>
  </div>
</div>
<div class="container mb-5 mt-5" id="postagens">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab"
        href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>
      <a (click)='findByIdUser()' class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab"
        data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens"
        aria-selected="false">Minhas Postagens</a>
      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagemCategoria-tab" data-toggle="tab"
        href="#postagemCategoria" role="tab" aria-controls="nav-postagemCategoria" aria-selected="false">Postagens por
        categoria</a>
    </div>
  </nav>
  <div class="tab-content mt-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
      <div class="row d-flex justify-content-center my-5">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="titulo"
              placeholder="Digite um título de postagem para pesquisar" [(ngModel)]='tituloPostagem'
              (keyup)='findByTituloPostagem()'>
          </div>
        </div>
      </div>
      <div class="card-columns">
        <div class="card text-center" *ngFor='let item of listaPostagens | orderBy : key : reverse'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <small class="text-muted"> Categoria: {{item.categoria.descricao}}</small>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
              Estado: {{item.regioes}}
            </small></p>
            <p class="card-text"><small class="text-muted">
                {{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}
              </small></p>
            <p class="card-text"><small class="text-muted">
                by: {{item.usuario.nome}}
              </small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
      <div class="card-columns">
        <div class="card text-center" *ngFor='let item of user.postagem | orderBy : key : reverse'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <small class="text-muted"> Categoria: {{item.categoria.descricao}}</small>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
                {{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}
              </small></p>
            <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
            <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="postagemCategoria" role="tabpanel" aria-labelledby="nav-postagemCategoria-tab">
      <div class="row d-flex justify-content-center my-5">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="titulo" placeholder="Digite uma categoria para pesquisar"
              [(ngModel)]='nomeCategoria' (keyup)='findByNomeCategoria()'>
          </div>
        </div>
      </div>
      <div class="card-columns" *ngFor='let categoria of listaCategorias'>
        <div class="card text-center" *ngFor='let item of categoria.postagem | orderBy : key : reverse'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
                {{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}
              </small></p>
            <p class="card-text"><small class="text-muted">
                by: {{item.usuario.nome}}
              </small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<body class="body container-fluid body-sidebar">

  <div class="sidebar">
    
    <div class="sidebarOption ">
      <span class="material-icons"> home</span>
      <a routerLink='/home' href=""> <h2>Home</h2></a>
      
    </div>

    <div class="sidebarOption">
      <span class="material-icons">find_in_page </span>
      <a routerLink='/sobre-nos' href=""> <h2>Sobre</h2></a>
    </div>

    <div class="sidebarOption">
      <span class="material-icons"> groups </span>
      <a routerLink='/equipe' href=""> <h2>Equipe</h2></a>
    </div>
  
    
    <div class="sidebarOption">
      <span class="material-icons"> perm_identity</span>
      <a data-toggle="modal" data-target="#modalExemplo" [routerLink]="['/usuario-edit', id]"> <h2>Editar Perfil</h2></a>
    </div>

    <div class="sidebarOption">
      <span class="material-icons"> more_horiz</span>
      <a (click)="sair()"> <h2>Sair</h2></a>
      
    </div>

    
  </div>

    <!-- Main-->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-0 col-md-2"></div>
          <div class="col-12 col-md-8">

            <!-- Profile-->
            <div class="container">
              <div class="row" style="padding-top: 20px;">
                <div class="col-3">
                  <img src="{{foto}}" alt="Imagem da usuária" width="100%" height="px"
                    class="img-fluid rounded-circle" />
                </div>
                <div class="col-7">
                  <div class="row" style="padding-top: 20px; padding-bottom: 10px;">
                    <div class="col-8 col-lg-12">
                      <h2 class="username">Olá, {{nome}}!</h2>
                      <small class="">Bem vindo ao RecodeCycle</small>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="feed">
              
              <div class="tweetBox">
                <form>
                  <div class="tweetbox__input row">
                    <div class="alert alert-light text-center row" role="alert">
                      Compartilhe conosco suas experiências!
                    </div>
                    <button class="btn btn-second" data-toggle="modal" data-target="#novaPostagem"> Publicar</button>
                   
                  </div>
                  
                  <!-- Nav-Feed -->
                  <div class="feed">
                    <ul class="nav nav-tabs nav-feed" id="postagemCategoria" role="tablist"
                      aria-labelledby="nav-postagemCategoria-tab">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link active nav-link-1" id="nav-todasPostagens-tab" data-bs-toggle="tab"
                          href="#todasPostagens" role="tab" aria-controls="home" aria-selected="true"><i
                            class="bi bi-grid-3x3"></i> TODAS AS POSTAGENS</a>
                      </li>
      
                      <li class="nav-item" role="presentation">
                        <a (click)='findByIdUser()' class="nav-link nav-link-2" id="nav-minhasPostagens-tab"
                          data-bs-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens"
                          aria-selected="false"><i class="bi bi-file-person"></i> MINHAS POSTAGENS</a>
      
                      </li>
                    </ul>
      
                    <!-- Card-Feed-->
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
                        aria-labelledby="nav-todasPostagens-tab">
                        <div class="row" style="padding-bottom: 25px;">
      
      
      
                          <div class="col-10 ">
                            <div class="card text-center" *ngFor='let item of listaPostagens '>
                              <p class="card-text"><small class="text-muted">
                                <img src="{{item.usuario.fotoPerfil}}" width="10%" height="px"
                                class="img-fluid rounded-circle" alt="">
                                {{item.usuario.nome}} 
                                
                              </small></p>
                              <h5 class="card-title m-0">{{item.titulo}}</h5>
                              <small class="text-muted"> Categoria: {{item.categoria.descricao}}</small>
                              <small class="text-muted"> Resíduos: {{item.residuos}}</small>
                              <p class="card-text mt-3">{{item.texto}}</p>
                              <p class="card-text"><small class="text-muted">
                                <img src="{{item.fotoPostagem}}" width="60%" height="px"
                                class="img-fluid  my-2" alt="">
                                                      
                              </small></p>

                              
                              <p class="card-text ">
                                <small class="text-muted">
                                  
                                 
                                  <p class="card-text">
                                   Estado: {{item.regioes}} | {{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}  
                                  </p>
                                  <p class="card-text">
                                   
                                  </p>

                                </small>
                              </p>
                              
                              <div class="">
                                
                                <a  class="mr-3"(click)='getPostagemByid(item.id)' (click)='descurtida(item.id)'>
                                 <img src="https://i.imgur.com/TXa0kPn.png" alt="">
                                </a>

                              

                                <a  (click)='getPostagemByid(item.id)' (click)='curtida(item.id)'>
                                  <img src="https://i.imgur.com/cIdZat9.png" alt="">
                                </a>

                              </div>
                            
                            <small class="text-muted">

                            </small>
                              Curtidas: {{item.curtidas}}

                                <hr>
      
      
                            </div>
                          </div>
                        </div>
      
                      </div>

                      <div class="tab-pane fade show active" id="minhasPostagens" role="tabpanel"
                        aria-labelledby="nav-minhasPostagens-tab">
                        <div class="row" style="padding-bottom: 25px;">
                          <div class="col-10 ">
                            <div class="card text-center" *ngFor='let item of user.postagem  '>
                              
                              <h5 class="card-title my-2">{{item.titulo}}</h5>
                              <small class="text-muted"> Categoria: {{item.categoria.descricao}}</small>
                              <small class="text-muted"> Resíduos: {{item.residuos}}</small>
                              <p class="card-text mt-3">{{item.texto}}</p>
                              <p class="card-text"><small class="text-muted">
                                <img src="{{item.fotoPostagem}}" width="60%" height="px"
                                class="img-fluid  my-2" alt="">
                                                      
                              </small></p>

                              
                              <p class="card-text ">
                                <small class="text-muted">
                                  
                                 
                                  <p class="card-text">
                                   Estado: {{item.regioes}} | {{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}  
                                  </p>
                                  <p class="card-text">
                                   
                                  </p>

                                </small>
                              </p>
      
                          
                                <div class="">
                                  <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-5" href="" data-toggle="modal" data-target="#modalExemplo"><img src="https://i.imgur.com/2EdPKSx.png" alt=""></a>
                                  <a [routerLink]="['/postagem-delete', item.id]" type="button" class="text-danger" href="" data-toggle="modal" data-target="#modalExemplo"><img src="https://i.imgur.com/BkkFvIm.png" alt=""></a>
                                </div>             
                              
                              <hr>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 
                </form>
              </div>
            </div>
           

            <!-- Nav-Feed-->
           
          </div>
          <div class="col-0 col-md-2"></div>
        </div>
      </div>
    </section>
  


  <script type="text/javascript">

    var crl = document.getElementById('myCrl').getContext('2d');

    crl.beginPath();
    crl.arc(60, 100, 40, 0, 2 * Math.PI);
    crl.fillStyle = '#00ACC1';
    crl.fill();
    crl.linewidth = 5;
    crl.strokeStyle = '#dbdbdb';
    crl.stroke();

    var crl1 = document.getElementById('myCrl1').getContext('2d');

    crl1.beginPath();
    crl1.arc(60, 100, 40, 0, 2 * Math.PI);
    crl1.fillStyle = '#F8BBD0';
    crl1.fill();
    crl1.linewidth = 5;
    crl1.strokeStyle = '#dbdbdb';
    crl1.stroke();

    var crl2 = document.getElementById('myCrl2').getContext('2d');

    crl2.beginPath();
    crl2.arc(60, 100, 40, 0, 2 * Math.PI);
    crl2.fillStyle = '#E91E63';
    crl2.fill();
    crl2.linewidth = 5;
    crl2.strokeStyle = '#dbdbdb';
    crl2.stroke();

  </script>



</body>






<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o título">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Foto da postagem</label>
          <input [(ngModel)]='postagem.fotoPostagem' class="form-control" name="fotoPostagem" id="fotoPostagem"
            placeholder="Insira um link para postar foto">
        </div>

        <div class="form-group">
          <label for="residuos">Resíduos</label>
          <textarea [(ngModel)]='postagem.residuos' class="form-control" name="residuos" id="residuos"></textarea>
        </div>

        <div class="form-group">
          <label for="regioes">Estado</label>
            <select class="form-control" [(ngModel)]='postagem.regioes' name="regioes" id="regioes">
           
            <option selected>Escolha seu estado...</option>
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AP">AP</option>
            <option value="AM">AM</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MT">MT</option>
            <option value="MS">MS</option>
            <option value="MG">MG</option>
            <option value="PR">PR</option>
            <option value="PB">PB</option>
            <option value="PA">PA</option>
            <option value="PE">PE</option>
            <option value="PI">PI</option>
            <option value="RN">RN</option>
            <option value="RS">RS</option>
            <option value="RJ">RJ</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="SC">SC</option>
            <option value="SE">SE</option>
            <option value="SP">SP</option>
            <option value="TO">TO</option>
      
          </select>
        </div>

       
        <div class="form-group">
          <label for="texto">Escolha uma categoria ou <a data-dismiss="modal" routerLink='/categoria'>cadastre uma
              nova</a>: </label>
          <select name="categoria" id="categoria" class="form-control" [(ngModel)]='idCategoria'
            (change)='findByIdCategoria()'>
            <option *ngFor='let item of listaCategorias' value="{{item.id}}">
              {{item.descricao}}
            </option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-info" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>