<div class="container-fluid">
    <div class="row bg-1 d-flex align-items-center">
      <div class="col-md-6">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 text-white">
            <h1 class="fs-54">INICIO</h1>
            <h5 class="fs-18">Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eveniet?!</h5>
          </div>
        </div>
  
        <div class="row d-flex justify-content-center mt-3 mb-5">
          <div class="col-md-6">
            <button
              class="btn btn-light mr-2"
              data-toggle="modal"
              data-target="#novaPostagem"
            >
              Nova Postagem
            </button>
            <a class="btn btn-light" href="#postagens">Ver Postagens</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 d-flex justify-content-center">
        <img class="mt-4 mb-5"
          src="https://imgur.com/Dqph79W.jpeg"
          alt="logo"
          width="500px"
          height="500px"
        />
      </div>
    </div>
  </div>

  