.bground {
  height: 100%;
  background:#B5F6CF;
  
}

.body-sidebar{
  display: flex;
  
}

menu-inicial{
  display: none;
}

.a:hover
.nav-top {
  height: 63px; 
  background-color: white !important; 
  border-top:0.5px solid #dbdbdb; 
  border-bottom:1px solid #dbdbdb;
}

.nav-container {
  padding-left: 25% !important; 
  padding-right: 25% !important;
}

@media screen and (max-width: 1605px) {
  .nav-container {
      padding-left: 20% !important; 
      padding-right: 20% !important;
  }
}

@media screen and (max-width: 992px) {
  .nav-container {
      padding-left: 5% !important; 
      padding-right: 5% !important;
  }
  .sidebar{
    display: none;
  }
}


.username {
  font-weight: 300; font-size: 28px;
}

.name {
  font-size: 16px; display: inline; font-weight: 600 !important;
}

.profile-datas {
  font-size: 16px;
}

.profile-desc {
  font-size: 16px; 
}

.cardSidebar{
  background-color: #f7f7f7;
  border-radius: 15px;
  width: 70%;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.cardPerfil{
  background-color: #f7f7f7;
  border-radius: 15px;
  width: 90%;

  justify-content: space-between;
  align-items: center;
  position: relative;

}

.cardAlert{
  background-color: #f7f7f7;
  border-radius: 15px;
  width: 95%;
  height: 5%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  

}

.cardFeed{
  background-color: #f7f7f7;
  border-radius: 15px;
  width: 90%;

  justify-content: space-between;
  align-items: center;
  position: relative;

}

.Bvd{
background: forestgreen;
color: white;
border-radius: 35px;
padding: 5px 8px;
}
@media screen and (max-width: 999px) {
  #div-card{
    top: -810px 
  }

.username{
  font-size: 20px;
  align-items: center;
  text-align: center;
}
  
.bvd2{
  align-self: center;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  border-radius: 15px;
  background: #58af9b;
}

.cardPerfil{
  height:17%;
  width: 100%;
  border-radius: 4px 4px;
  
}
.card2{
  width: 100%;
  justify-items: center;
  text-align: center;
  height: inherit;
}
.cardFeed{
  width: 100%;
  border-radius: 4px 4px;
}

}

.img-media{
  width: 4rem;
}



.sidebarOption{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption .material-icons{
    padding: 20px;
}

.sidebarOption h2{
    color: black;
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption:hover{
     background-color: var(--background);
     border-radius: 30px;
     color: var(--twitter-color);
     transition: color 100ms ease-out;
}



.sidebar__tweet{
    width: 100%;
    background-color: var(--color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
}

.sidebar {
  border-right: 1px solid var();
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-feed {
  border-bottom: none !important; 
  display:flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  
 
 
}
.feed{
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}



.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin-top: 1rem;
}

.btn-second {
  background-color: #58af9b;
  border: 1px solid #58af9b;
  transition: background-color 0.5s;
}
.btn-second:hover {
  background-color: #fff;
  border: 1px solid #58af9b;
  color: #58af9b;
}

body{
  --color:#58af9b;
  --background: #e6ecf0;
}

.feed{
  flex: 0.5;
  border-right: 1px solid var(--background);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed__header{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--background);
  padding: 5px 10px;
}


.feed::-webkit-scrollbar{ /* para deixar scrollbar invisivel */
  display: none;
}

.feed {  
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.a:hover

.curtir{
  cursor: pointer;
}

.nav-link-1 {
  color: #a2a8af;
  background-color: #fafafa !important;
  font-size: 12px;
  font-weight: 600;
}

.nav-link-2 {
  color: #a2a8af;
  background-color: #fafafa !important;
  font-size: 12px;
  font-weight: 600;
}


.card {
  border: 0px solid rgba(0,0,0,.125) !important;
  border-radius: .0rem !important;
 
}

.card .card-img, .card-img-top {
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
}


.form-control {
  border-radius: .15rem !important;
  padding: 0% !important; 
  background-color: #fafafa !important; 
  text-align: center; 
  font-size: 15px !important;
}

.icons {
  padding: 4%; 
  font-size: 25px;
}

.button-edit {
  color: black !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-color: #dae1e7 !important;
}

.btn {
  padding: .100rem .50rem !important;
}


/*widgets*/

.input-mobile{
  display: none;
  

}

.input-mobile2{
  display: flex;
  align-items: flex;
  background-color: #f7f7f7;
  width: 200%;
  border-radius: 15px;
  padding: 10px;
}

@media screen and (max-width: 992px) {
  .input-mobile{
    display: grid;
    justify-content: start;

  }
  
  .input-mobile2{
    display: flex;
    align-items: flex;
    background-color: #f7f7f7;
    width: 170%;
    border-radius: 15px;
    padding: 10px;
    
  
  }
}

.barraPesquisar{
  justify-content: start;
  right:-43rem;
  top: -797px;
  display: grid;
}
@media (min-width: 1338px) {
  .barraPesquisar{
    justify-content: start;
    right:-43rem;
    top: -810px;
    display: grid;
  }
}

@media screen and (max-width: 992px){
  .barraPesquisar{
    display: none;
}
}

.barraPesquisar-input{
  display: flex;
  align-items: flex;
  background-color: #f7f7f7;
  width: 200%;
  border-radius: 15px;
  padding: 10px;
}

.inputPesquisar{
  background-color: #f7f7f7;
  border-radius: 15px;
  border: none;

}

.widgets__serarchIcon{
  color: gray;
}


/* modal background */

.mground{
  background-image: linear-gradient(to top, #f7f7f7 10%,#B5F6CF );
}



